<p id="notice"><%= notice %></p>

<p>
  <b>Cnpf cpf:</b>
  <%= @fornecedor.nome %>
  <% if @fornecedor.pj? %>
  <%= @fornecedor.cnpj %>
  <% else %>
  <%= @fornecedor.cpf %>
  <% end %>
</p>


<%= link_to 'Edit', edit_fornecedor_path(@fornecedor) %> |
<%= link_to 'Back', fornecedores_path %>
